:root {
    --lime: #b9ff26a8;
}
.dilivery {
    max-width: 1402px;
    margin: 0 auto;
    padding: 150px 12px;
}

.dilivery h1 {
    font-size: 50px;
    line-height: 68px;
    /* identical to box height */
    margin-bottom: 42px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

.dilivery h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    /* or 156% */
    display: flex;
    align-items: center;
    color: #0F0F0F;
}

.dilivery section {
    margin-bottom: 78px;
}

img.center {
    padding-bottom: 38px;
}

img.right {
    float: right;
    padding: 0 0 30px 30px;
}


img.left {
    float: left;
    padding: 0 30px 30px 0;
}


.dilivery p, .dilivery li {
    font-size: 26px;
    line-height: 1.62;
    color: #000000;
}

 
ul {
    padding: 36px 0 60px 72px;
}

.dilivery ul{
    background-color: var(--lime);
}
.green-list {
    overflow: hidden;
}

.green-list:before{
    content: "";
    width: 100%;
    height: 130px;
    background: url(/img/decor-border-1.svg) center no-repeat;
    background-size: cover;
    display: flex;
    margin-bottom: -16px;
}

.green-list:after{
    content: "";
    width: 100%;
    height: 130px;
    background: url(/img/decor-border-2.svg) center no-repeat;
    background-size: cover;
    display: flex;
    margin-top: -14px;
}

.dilivery li:before {
    content: "";
    width: 10px;
    height: 10px;
    background: url(/img/icon-flower.png) center/contain no-repeat;
    background-size: contain;
    display: flex;
    margin-right: 10px;
    border-radius: 50%;
}

.dilivery li {
    display: flex;
    align-items: center;
}

.font-test {
    background-color: var(--lime);
}

.font-test-item {
    padding: 36px 0 60px 72px;
}

.font-test-item__examples {
    padding: 12px 0px 0px 6px;
}

.comfortaa-light {
    font-family: "Comfortaa";
    font-weight: 300;
}

.comfortaa-normal {
    font-family: "Comfortaa";
    font-weight: 400;
}

.comfortaa-medium {
    font-family: "Comfortaa";
    font-weight: 500;
}

.comfortaa-semibold {
    font-family: "Comfortaa";
    font-weight: 600;
}

.comfortaa-bold {
    font-family: "Comfortaa";
    font-weight: 700;
}

.lato-light {
    font-family: "Lato";
    font-weight: 300;
}

.lato-normal {
    font-family: "Lato";
    font-weight: 400;
}

.lato-medium {
    font-family: "Lato";
    font-weight: 500;
}

.lato-semibold {
    font-family: "Lato";
    font-weight: 600;
}

.lato-bold {
    font-family: "Lato";
    font-weight: 700;
}

.roboto-light {
    font-family: "Roboto";
    font-weight: 300;
}

.roboto-normal {
    font-family: "Roboto";
    font-weight: 400;
}

.roboto-medium {
    font-family: "Roboto";
    font-weight: 500;
}

.roboto-semibold {
    font-family: "Roboto";
    font-weight: 600;
}

.roboto-bold {
    font-family: "Roboto";
    font-weight: 700;
}